<% include partials/header  %>

<section class="site-wrapper">
	<div class="landing-container">
		<h2>Explore &amp; Share <span class="nextLine">Campgrounds</span></h2>
		<p>Welcome to YelpCamp!</p>
		<a class="btn btn-lg btn-primary" href="/campgrounds">View All Campgrounds</a>
	</div>
</section>


<% include partials/footer  %>