/* Nav Start Here*/
.navbar {margin: 0;}

.navbar-header a {font-weight: 700;}

.navbar-default {border-color: none;}

.navbar.navbar-default {background: #2ecc71;}

.navbar-default .navbar-nav>li>a {color: white; font-weight: 700;}

.navbar-default .navbar-brand {color:white;}

	/*Hover effect for hamburger Start Here */
	.navbar-toggle.collapsed {border-color: white; background: none !important;}
	.navbar-toggle.collapsed .icon-bar {background: white !important;}
	.navbar-toggle.collapsed:hover {background: white !important; }
	.navbar-toggle.collapsed:hover .icon-bar {background: #2ecc71 !important;}
	/*Hover effect for hamburger End Here */
	
	/*Focus effect for hamburger Start Here*/
	.navbar-default .navbar-toggle:focus {background: white; border-color: white;}
	.navbar-default .navbar-toggle:focus .icon-bar {background: #2ecc71;}
	/*Focus effect for hamburger End Here*/



/* Nav End Here */

/* Alert Start From Here */
.alert {
	text-align: center;
	width: 100%;
	border-radius: 0;
	margin: 0;
}
/*Alert End Here 