/* Main Global*/
html {
		background: url('../images/forest.jpg') no-repeat center center fixed;
}

body {
	font-family: 'Roboto', sans-serif;
}

h1, h2 {
	font-weight: 700;
}

h2 {
	font-size: 40px;
}

p, a {
	font-weight: 400;
	text-decoration: none;
}
/* Main Global*/

/* Landing Page Start Here */
.site-wrapper {
	width: 100%;
	/*height: 100%;*/
	min-height: 100%;
	position: absolute;


}

.landing-container {
	text-align: center;
	padding-top: 200px;
	color: #eee;
}

.landing-container span.nextLine {
	line-height: 65px;
	display: block;
}

.landing-container h2 { font-size: 2.5em; }

.landing-container a { margin: 40px 0 20px 0;}

/* Landing Page End Here */

/* Nav Start Here*/
.navbar {
	margin: 0;
}

/* Nav End Here */

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#form-delete {
	display: inline;
}

#form-comment-delete {
	display: inline;
}