/* Main Global*/
html {
	font-family: 'Roboto', sans-serif;
}

h1, h2 {
	font-weight: 700;
}

h2 {
	font-size: 40px;
}

p, a {
	font-weight: 400;
	text-decoration: none;
}
/* Main Global*/

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#form-delete {
	display: inline;
}

#form-comment-delete {
	display: inline;
}